body {
  padding-top: 5rem;
  background-color: #334;
  color: aliceblue;
}

.table {
  color: aliceblue;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.btn-primary {
  margin: 5px;
  background-color: aliceblue;
  color: darkslategray;
  width: 150px;
}

#save {
  background-color: darkslategrey;
  border-color: darkslategrey;
  color: aliceblue;
}

#delete {
  background-color: brown;
  border-color: brown;
  color: aliceblue;
}

#show {
  background-color: darkslategrey;
  border-color: darkslategrey;
  color: aliceblue;
}

#edit {
  background-color: darkslategrey;
  border-color: darkslategrey;
  color: aliceblue;
}

.form-control {
  width: 300px;
  display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}