{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="jumbotron"> 
    <div class="example-wrapper">
        <div class="indexfontionality">
            <h3 class="textindex">{% trans %}Have you ever heard that you wanted to go green? In what way ? Well today you can do it without any effort saving paper and saving trees with SlamQuiz!{% endtrans %}</h1>
            <br>
            <p class="textindex">{% trans %}Here is the tool for you! SlamQuiz is great, I assure you, it is approved by myself, then I have to sell it no?{% endtrans %}</p>
            <hr>
            <h3 class="textindex">{% trans %}Features{% endtrans %}</h2>
            <ul>
                <li>{% trans %}Motivating interactive content (I assure you it's true){% endtrans %}</li>
                <li>{% trans %}Automatic notation (it's still a real revolution){% endtrans %}</li>
                <li>{% trans %}Real-time activity tracking (receive student results by email){% endtrans %}</li>
                <li>{% trans %}Test your students via a smartphone and deliver live results at a presentation{% endtrans %}</li>
            </ul>
            <br>
            <p>{% trans %}License: It is a free software but paying, must not forget that we are a Capitalist country anyway{% endtrans %}</p>
            <hr>
            <br>
            <a  class="btn btn-primary" href="{{ path('category_index') }}">{% trans %}Let's go !{% endtrans %}</a>
        </div>
    </div>
</div>

{% endblock %}
